$mainColor:#FF324D;
$secondaryColor:#202325;
$thirdColor: #292b2c;
$breadcrumbBGColor: #F7F8FB;
$inactiveBreadcrumbColor: rgba(33, 37, 41, 0.75);

$poppinsFontFam: "Poppins", sans-serif;
$robotoFontFam: "Roboto", sans-serif;
